#bg {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/coastal-northwest-designs.appspot.com/o/photos%2FHomeScreen%2Fmain.jpg?alt=media&token=10ecf80b-48a0-4395-ae00-40295bfe4291');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-container {
  height: auto;
  position: relative;
}

figure, figcaption {
  margin: 0;
  padding: 0;
}


#frame {
  align-self: center;
  height: 100vmin;
  width: 100vw;
  /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(26, 25, 25, 0.349)); */
}

/* logo */
figure figcaption {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 5;
}