#header-container {
  height: auto;
  position: relative;
}

figure, figcaption {
  margin: 0;
  padding: 0;
}


#main-image {
  align-self: center;
}

figure figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  z-index: 5;
}